

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<body>

<!-- Top head -->
<div id="top-head">
	<div id="container">
	<div id="top-head-left">
    <img src="image/phone_icon.png" height="12px" width="15px;" /><span >01689134549</span>
    <img src="image/email.png" height="12px" width="15px;" /> <span>Nhuson1094@gmail.com</span>
    </div>

	<div id="top-head-right">
    	<img src="image/icon_face.png" width="25px" height="25px" />
        <img src="image/icon_tw.png" width="25px" height="25px" />
        <img src="image/icon_google.png" width="25px" height="25px" />
        <img src="image/icon_intagram.png" width="25px" height="25px" />
    </div>
    </div>
</div>
<!-- Logo-->
<div id="logo">
	<div id="container-logo">
	<div id="logo-left">
    	<a href="#" title="logo"><img src="image/logo.png" alt="logo" /></a>
    
    </div>
	
    <div id="logo-right">
		<div id="search">
        <form name="form" action="index.html"></form>
        	<input type="search" name="search" id="text" placeholder="Nhập nội dung tìm kiếm" />
        	<span id="btn-search"><input type="submit" name="submit" value=" " /></span>
         </form>
        </div>
        
        <div id="login">
        	<img src="image/login_icon.png" width="13px" height="13px" /><span ><a href="#" title="Đăng nhập">Đăng nhập</a></span>
        	<img src="image/249.png" width="13px" height="13px" /><span ><a href="#" title="Đăng ký">Đăng ký</a></span>
        </div>
	</div>
    </div>
</div>
<!---giang sinh img -->
<div id="img-left"></div>
<div id="img-right"></div>

<!-- Menu top -->
<div id="menu">
	<ul id="menu-center">
    	<li><span id="home"></span><a href="#" title="Trang chủ">Trang chủ</a></li>
        <li><a href="#" title="Ẩm thực Việt">Ẩm thực Việt</a>
        	<ul>
            	<li><a href="#" title="Ẩm thực miền Bắc">Ẩm thực miền Bắc</a></li>
                <li><a href="#" title="Ẩm thực miền Trung">Ẩm thực miền Trung</a></li>
                <li><a href="#" title="Ẩm thực miền Nam">Ẩm thực miền Nam</a></li>
            
            </ul>
        </li>
        <li><a href="#" title="Mẹo vặt nấu ăn">Mẹo vặt nấu ăn</a>
        	<ul>
            	<li><a href="#" title="Thiết bị, dụng cụ bếp">Thiết bị, dụng cụ bếp</a></li>
                <li><a href="#" title="Cẩm nang hữu ích">Cẩm nang hữu ích</a></li>
                <li><a href="#" title="Công thức món ăn">Công thức món ăn</a></li>
                <li><a href="#" title="Chọn mua thực phẩm">Chọn mua thực phẩm</a></li>
            
            </ul>
        
        </li>
        <li><a href="#" title="Du lịch ẩm thực">Du lịch ẩm thực</a>
        	<ul>
            	<li><a href="#" title="Ẩm thực miền Bắc">Ẩm thực Hàn Quốc</a></li>
                <li><a href="#" title="Ẩm thực Địa Trung Hải">Ẩm thực Địa Trung Hải</a></li>
                <li><a href="#" title="Ẩm thực phương Tây">Ẩm thực phương Tây</a></li>
            
            </ul>
        
        </li>
        <li><a href="#" title="Đồ uống-Cocktail">Đồ uống-Cocktail</a></li>
        <li><a href="#" title="Bánh ngọt">Bánh ngọt</a></li>
        
    </ul>
</div>
<!-- End Menu -->
<!-- Content Main -->
<div id="main-content">
<!-- Slide bar-->
	<div id="slide-bar">
    	<div id="slide" >
		  	<ul class="slide-content">
	        	<li class=" slide-item ui-tabs-selected" id="nav-fragment-1">
            		<a href="#fragment-1">
                	<img src="image/image1-small.jpg" alt="" />
                	<span>Cách nấu canh đậu tương lên men ngon như người Hàn </span>
                 	</a>
           		</li>
	        	<li class="slide-item" id="nav-fragment-2">
            		<a href="#fragment-2">
                	<img src="image/image2-small.jpg" alt="" />
                    <span>Cách làm bánh Tteokbokki ngon chuẩn vị Hàn Quốc</span>
            		</a>
            	</li>
            
           		<li class="slide-item" id="nav-fragment-2">
            		<a href="#fragment-3">
                	<img src="image/image3-small.jpg" alt="" />
                    <span>Cách làm kim chi kho thịt cực ngon, bạn đã thử chưa?</span>
            		</a>
            	</li>
            
	        	<li class="slide-item" id="nav-fragment-2">
            		<a href="#fragment-4">
                	<img src="image/image4-small.jpg" alt="" />
                    <span>Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây</span>
            		</a>
            	</li>
            
	      	</ul>

	    <!-- First Content -->
	    <div id="fragment-1" class="ui-tabs-panel" >
			<img src="image/image1.jpg" width="590px" height="400px;" alt="" />
			 <div class="info" >
				<h2><a href="#" >Cách nấu canh đậu tương lên men ngon như người Hàn</a></h2>
				<p>Canh đậu tương lên men là món ăn truyền thống của người Hàn Quốc, với hương vị hấp dẫn và độc đáo. 
                	Nếu bạn là người yêu thích những bộ phim của xứ sở kim chi không thể không biết tới món ăn này. Bài viết
                 	dưới đây sẽ chia sẻ về cách nấu canh đậu tương lên men chuẩn vị Hàn Quốc. Cách nấu canh đậu tương lên men 
                	Để thực hiện cách nấu canh đậu...<a href="#" > read more</a></p>
			 </div>
	    </div>

	    <!-- Second Content -->
	    <div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" >
			<img src="image/image2.jpg" width="590px" height="400px;" alt="" />
			 <div class="info" >
				<h2><a href="#" >Cách làm bánh Tteokbokki ngon chuẩn vị Hàn Quốc</a></h2>
				<p>Tteokbokki là món bánh gạo cay nổi tiếng ở Hàn Quốc, khi du nhập vào nước ta được nhiều người yêu thích 
                bởi hương vị cay đặc trưng của xứ sở kim chi. Thay vì thưởng thức món bánh này ngoài hàng, các bạn hãy cùng 
                học cách làm bánh Tteokbokki cực ngon dưới đây nhé. Cách làm bánh Tteokbokki Hướng dẫn cách làm bánh Tteokbokki 
                đơn giản,.....
                    <a href="#" >read more</a>
                </p>
			 </div>
	    </div>

	    <!-- Third Content -->
       <div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" >
			<img src="image/image3.jpg" width="590px" height="400px;" alt="" />
			 <div class="info" >
				<h2><a href="#" >Cách làm kim chi kho thịt cực ngon, bạn đã thử chưa?</a></h2>
				<p>Bạn là người yêu thích những món ăn được chế biến từ kim chi, vậy hãy cùng khám phá cách làm kim chi kho thịt ngon, 
                béo ngậy để chiêu đãi cả gia đình cùng thưởng thức nhé. Vị cay cay của kim chi hòa quyện cùng với vị béo ngậy của thịt
                 ba chi tạo nên hương vị tuyệt vời. Cùng tham khảo bài viết dưới đây để chi tiết cách làm món ăn này nhé.....
                    <a href="#" >read more</a>
                </p>
			 </div>
	    </div>
        
        
        <!-- four Content -->
        
        <div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" >
			<img src="image/image4.jpg" width="590px" height="400px;" alt="" />
			 <div class="info" >
				<h2><a href="#" >Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây</a></h2>
				<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachlam9.com sẽ hướng dẫn các 
                bạn cách làm salad khoai tây kiểu Hàn đơn giản và tuyệt ngon nhé. Cùng theo dõi bài viết dưới đây để được hướng 
                dẫn cách làm chi tiết món ăn này nhé. Cách làm salad khoai tây kiểu Hàn Hướng dẫn cách làm salad khoai tây kiểu Hàn .....
                    <a href="#" >read more</a>
                </p>
			 </div>
	    </div>
        <!-- four Content -->
		</div>
	</div>
            
        
 <!-- end slide bar-->
 <!-- Advertise -->
 	<div class="advertise">
    	<a href="#"><img src="image/banner.png"  alt="" /> </a>  
    </div>
 <!-- end advertise -->
 	
 <div id="content">
    <div class="left">	
        <div class="content-left">
    		<h3><span>Ẩm thực Hàn Quốc 1 </span></h3>
            <div class="news_left">
            	<img src="image/image3.jpg" width="317px" height="217px"/>
                <a href="#">Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây</a>
            	<p>Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây
				Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachlam9.com sẽ hướng dẫn các 
                bạn cách làm salad khoai tây kiểu Hàn đơn giản và tuyệt ngon nhé. 
                
                <br/>
                <ul>
                <li><a href="#">Làm chi tiết món ăn này nhé tuyệt ngon nhé. </a></li>
                <li><a href="#">Làm chi tiết món ăn này nhé. </a></li>
                <li><a href="#">Làm chi tiết món ăn này nhétuyệt ngon nhé tuyệt ngon nhé. </a></li>
               	<li><a href="#">Làm chi tiết món ăn này nhé ngon nhé.</a></li>
                </ul>
                </p>
            </div>
            <div class="news_right">
            	<ul>
            		<li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn 1</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachlam9.com ...
                			</p>
                      
                    	</div>
                    </li>
            
            		<li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachla ...
                			</p>
                      
                    	</div>
                    </li>
                    
                    <li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cac ...
                			</p>
                      
                    	</div>
                    </li>
                    <li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cac ...
                			</p>
                      
                    	</div>
                    </li>
                    
            	</ul>
            </div>
   		</div>
    	<!-- end content left-->
         <!-- Content left second --> 
        <div class="content-left">
    		<h3><span>Ẩm thực Hàn Quốc </span></h3>
            <div class="news_left">
            	<img src="image/image3.jpg" width="317px" height="217px"/>
                <a href="#">Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây</a>
            	<p>Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây
				Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachlam9.com sẽ hướng dẫn các 
                bạn cách làm salad khoai tây kiểu Hàn đơn giản và tuyệt ngon nhé. 
                
                <br/>
                <ul>
                <li><a href="#">Làm chi tiết món ăn này nhé tuyệt ngon nhé. </a></li>
                <li><a href="#">Làm chi tiết món ăn này nhé. </a></li>
                <li><a href="#">Làm chi tiết món ăn này nhétuyệt ngon nhé tuyệt ngon nhé. </a></li>
               	<li><a href="#">Làm chi tiết món ăn này nhé ngon nhé.</a></li>
                </ul>
                </p>
            </div>
            <div class="news_right">
            	<ul>
            		<li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn 1</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachlam9.com ...
                			</p>
                      
                    	</div>
                    </li>
            
            		<li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachla ...
                			</p>
                      
                    	</div>
                    </li>
                    
                    <li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cac ...
                			</p>
                      
                    	</div>
                    </li>
                    <li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cac ...
                			</p>
                      
                    	</div>
                    </li>
                    
            	</ul>
            </div>
   		</div>
        <!-- End Content left second-->
         <!-- Content left thirt-->
        <div class="content-left">
    		<h3><span>Ẩm thực Hàn Quốc </span></h3>
            <div class="news_left">
            	<img src="image/image3.jpg" width="317px" height="217px"/>
                <a href="#">Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây</a>
            	<p>Cách làm salad khoai tây kiểu Hàn thơm ngon ngất ngây
				Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachlam9.com sẽ hướng dẫn các 
                bạn cách làm salad khoai tây kiểu Hàn đơn giản và tuyệt ngon nhé. 
                
                <br/>
                <ul>
                <li><a href="#">Làm chi tiết món ăn này nhé tuyệt ngon nhé. </a></li>
                <li><a href="#">Làm chi tiết món ăn này nhé. </a></li>
                <li><a href="#">Làm chi tiết món ăn này nhétuyệt ngon nhé tuyệt ngon nhé. </a></li>
               	<li><a href="#">Làm chi tiết món ăn này nhé ngon nhé.</a></li>
                </ul>
                </p>
            </div>
            <div class="news_right">
            	<ul>
            		<li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn 1</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachlam9.com ...
                			</p>
                      
                    	</div>
                    </li>
            
            		<li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cachla ...
                			</p>
                      
                    	</div>
                    </li>
                    
                    <li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cac ...
                			</p>
                      
                    	</div>
                    </li>
                    <li>
                    	<a href="#"><img src="image/image2-small.jpg" width="80px" height="58px" /> </a>
                        <div>
                        	<a href="#">Cách làm salad khoai tây kiểu Hàn</a>
                        	<p>Salad khoai tây kiểu Hàn là món khai vị cực ngon rất được ưa chuộng. Hôm nay, cac ...
                			</p>
                      
                    	</div>
                    </li>
                    
            	</ul>
            </div>
   		</div>
        <!-- End Content left thirt-->
     </div>
     <!--End left-->
        <!--Content first-->
      
         <!--End content first-->
     <div class="right">
     	<div class="content-right">
        	
            <div class="fb-page" data-href="https://www.facebook.com/%E1%BA%A8m-th%E1%BB%B1c-Vi%E1%BB%87t-366679397035253/?ref=settings" data-tabs="timeline" data-width="300px" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/%E1%BA%A8m-th%E1%BB%B1c-Vi%E1%BB%87t-366679397035253/?ref=settings" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/%E1%BA%A8m-th%E1%BB%B1c-Vi%E1%BB%87t-366679397035253/?ref=settings">Ẩm thực Việt</a></blockquote></div>
        
        </div>
     <!--End content right -->
         <div class="content-right">
            <ul>
                <li ><a href="#tab-1" class="active" >Am thuc han quoc</a></li>
                <li><a href="#tab-2">Am thuc han</a></li>
                <li><a href="#tab-3">Am thuc han</a></li>
            
            </ul>
        
        <div id="tab-1" class="tab-content">
            <ul>
                <li><a href="#">Am thuc han quoc</a></li>
                <li><a href="#">Mon ngon duong pho</a></li>
                <li><a href="#">Meo vat cuoc song</a></li>
                <li><a href="#">The gioi quanh ta</a></li>
                <li><a href="#">hoc php</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">php css3</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">jquery</a></li>
            </ul>
    	</div>
        
         <div id="tab-2" class="tab-content">
            <ul>
                <li><a href="#">Am thuc han quoc</a></li>
                <li><a href="#">Mon ngon duong pho</a></li>
                <li><a href="#">Meo vat cuoc song</a></li>
                <li><a href="#">The gioi quanh ta</a></li>
                <li><a href="#">hoc php</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">php css3</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">jquery</a></li>
            </ul>
    	</div>
    
    	 <div id="tab-3" class="tab-content">
            <ul>
                <li><a href="#">Am thuc han quoc</a></li>
                <li><a href="#">Mon ngon duong pho</a></li>
                <li><a href="#">Meo vat cuoc song</a></li>
                <li><a href="#">The gioi quanh ta</a></li>
                <li><a href="#">hoc php</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">php css3</a></li>
                <li><a href="#">Html javascrip</a></li>
                <li><a href="#">jquery</a></li>
            </ul>
    	</div>
     </div>
        <!--End tab-->
        <!--End content right fisrt -->
     	<!--Content right secon-->
        <div class="content-right">
        	<img src="image/ad-lert-content.jpg" />
        </div>
        <!--End content right secon -->
        
        
        <!-- End content right thirt -->
   	</div>
	<!--End right -->	
      
        
    </div>
    <!-- End content-->
</div>
<!-- end Content Main-->
<div style="clear:both"></div>
<!-- slide scroll-->
<div id="marque_content">
	<div id="marquee">
			<div id="carousel">
				<ul>
					<li><img src="image/up1.jpg" alt="" /><p><a href="#" title="">Mon an bai thuoc chua benh thit doi it nguoi biet</a></p></li>
					<li><img src="image/up2.jpg" alt="" /><p><a href="#" title="">Mon an bai thuoc chua benh thit doi it nguoi biet</a></p></li>
					<li><img src="image/up3.jpg" alt="" /><p><a href="#" title="">Mon an bai thuoc chua benh thit doi it nguoi biet</a></p></li>
					<li><img src="image/up4.jpg" alt="" /><p><a href="#" title="">Mon an bai thuoc chua benh thit doi it nguoi biet</a></p></li>
					<li><img src="image/up5.jpg" alt="" /><p><a href="#" title="">Mon an bai thuoc chua benh thit doi it nguoi biet</a></p></li>
					<li><img src="image/up6.jpg" alt="" /><p><a href="#" title="">Mon an bai thuoc chua benh thit doi it nguoi biet</a></p></li>
                    <li>
        					<img src="image/image2.jpg"  alt=""/>
            				<p><a href="#" title="">Mon an bai thuoc chua benh thit doi it nguoi biet</a></p>
        			</li>					
				</ul>
				<div class="clearfix"></div>
				<a id="prev" class="prev" href="#">&lt;</a>
				<a id="next" class="next" href="#">&gt;</a>
				
			</div>
		</div>
</div>


<!-- End slide scroll -->
<!-- back top-->

<!-------------------- Footer ------------------->
<div style="clear:both"></div>
<div id="footer">
	<div id="foot-top">
    	<div id="ftop-left">
        	<span id="text">đăng ký nhận bản tin mới nhất</span>
            <form action="index.html">
            	<input type="text" id="text-box" placeholder="Nhập email của bạn vào " />
                <span><input id="reg-submit" type="submit" name="submit" value="đăng ký" /></span>
            
            
            </form>
        	
        </div>
    
    	<div id="ftop-right">
        	<a href="#" ><img src="image/img1.png" alt="" /></a>
            <a href="#" ><img src="image/img2.png" alt="" /></a>
            <a href="#" ><img src="image/img3.png" alt="" /></a>
            <a href="#" ><img src="image/img4.png" alt="" /></a>
        
        </div>
    
    </div>
	<!-- End foot-top-->
    <div id="fmain-container">
    
    <div id="foot-main">
    	<div class="fmain-content">
        	<h3>tin tức</h3>
            <ul>
            	<li><a href="#" title="ẩm thực">ẩm thực</a></li>
                <li><a href="#" title="du lịch ẩm thực">du lịch ẩm thực</a></li>
                <li><a href="#" title="cẩm lang hữu ích">cẩm lang hữu ích</a></li>
                <li><a href="#" title="vào bếp cuối tuần">vào bếp cuối tuần</a></li>
                <li><a href="#" title="mẹ và bé">mẹ và bé</a></li>
            	<li><a href="#" title="sự kiện ẩm thực">sự kiện ẩm thực</a></li>
            
            </ul>
        
        </div>
    
    	<div class="fmain-content">
        	<h3>công thức</h3>
            <ul>
            	<li><a href="#" title="mới nhất">mới nhất</a></li>
                <li><a href="#" title="phổ biến nhất">phổ biến nhất</a></li>
                <li><a href="#" title="được tìm nhiều nhất">được tìm nhiều nhất</a></li>
                <li><a href="#" title="hot nhất">hot nhất</a></li>
                <li><a href="#" title="tốt cho sức khỏe">tốt cho sức khỏe</a></li>
            	<li><a href="#" title="công thức trong ngày">công thức trong ngày</a></li>
            
            </ul>
        
        </div>
    
    	<div class="fmain-content">
        	<h3>video</h3>
            <ul>
            	<li><a href="#" title="món ngon dễ làm">món ngon dễ làm</a></li>
                <li><a href="#" title="món cầu ký">món cầu ký</a></li>
                <li><a href="#" title="pha chế cooktaill">pha chế cooktaill</a></li>
                <li><a href="#" title="món chay">món chay</a></li>
                
            
            </ul>
        
        </div>
    	
        <div class="fmain-content">
        	<h3>nhà hàng</h3>
            <ul style="float:left;">
            	<li><a href="#" title="sang trọng">sang trọng</a></li>
                <li><a href="#" title="tiệc cưới">tiệc cưới</a></li>
                <li><a href="#" title="buffer">buffer</a></li>
                <li><a href="#" title="lẩu nướng">lẩu nướng</a></li>
                <li><a href="#" title="coffe">coffe</a></li>
            	<li><a href="#" title="bar club">bar club</a></li>
             </ul>
                <ul style="float:right;">
                <li><a href="#" title="sang trọng">quán nhậu</a></li>
                <li><a href="#" title="tiệc cưới">quán vỉa hè</a></li>
                <li><a href="#" title="buffer">quán ăn khuya</a></li>
                <li><a href="#" title="lẩu nướng">quán chay</a></li>
                <li><a href="#" title="coffe">coffe</a></li>
            	<li><a href="#" title="bar club">bar club</a></li>
            
            </ul>
        
        </div>
    
    
    </div>
    </div>
<!--------------End foot-main --------->
	<div id="foot-bottom">
    		<div id="f-bottom-content">
            	<a href="#" title="amthucviet.vn"><img src="image/logo_foot.png" alt=""  /></a>
                <ul>
                	<li><a href="#" title="Giới thiệu">Giới thiệu</a></li>
                    <li><a href="#" title="Sơ đồ site">Sơ đồ site</a></li>
                    <li><a href="#" title="Chính sánh bảo mật">Chính sánh bảo mật</a></li>
                    <li><a href="#" title="Điều khoản sử dụng">Điều khoản sử dụng</a></li>
                    <li><a href="#" title="Tuyển dụng">Tuyển dụng</a></li>
                    <li><a href="#" title="Trợ giúp">Trợ giúp</a></li>
                    <li><a href="#" title="Liên hệ">Liên hệ</a></li>
                </ul>
            
            	<p>Bản quyền thuộc về amthucviet.vn. Hotline: 01689134549 Thiết kế bởi NhuSon</p>
            </div>
    

	</div>
    
    
    <!------- End foot bottom ------------>
</div>




</body>
</html>
