@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;	
}
/*---------Top head ------------- */
#top-head{
	width:100%;
	height:32px;
	background:#ac1616;
}
#container{
	width:1000px;
	height:32px;
	margin:0px auto;	
}
#top-head-left{
	width:325px;
	height:32px;
	line-height:32px;
	float:left;
}
#top-head-left img{
	margin-left:5px;	
}
#top-head-left span{
	color:#FFF;
	font-weight:bold;
	margin-left:3px;	
	text-transform:capitalize;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#top-head-right{
	width:auto;
	height:32px;
	float:right;
	
	margin-top:4px;
}
#top-head-right img{
	padding-left:7px;
	cursor:pointer;
}
/*--------- End Top head ------------- */
/*--------- logo ------------- */
#logo{
	margin-top:0px;
	width:100%;
	height:110px;
	background:#FFF;
}
#container-logo{
	width:1000px;
	height:110px;
	margin:0px auto;
	
}
#logo-left{
	width:410px;
	margin-left:0px;
	height:auto;
	float:left;
	margin-top:12px;
}
#logo-right{
	width:490px;
	float:right;
	height:auto;
	margin-top:20px;
}
#search{
	width:300px;
	float:left;
	height:32px;
	border:1px solid #dddddd;
	border-radius:3px;
	
}
#search #text{
	width:255px;
	height:30px;
	border:none;
	padding-left:10px;
	border-right:1px dotted #666666;
	line-height:30px;
}
#btn-search{
	width:40px;
	height:32px;
	
}
#btn-search input{
	width:40px;
	height:32px;
	background:url(../image/198.png) no-repeat;
	border:none;
	cursor:pointer;
	
}
#login{
	float:right;
	margin-right:5px;
	margin-top:10px;
}
#login img{
	margin-right:5px;
	margin-left:5px;	
}
#login a{
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#582e68;	
}
#login a:hover{
	text-decoration:underline;	
}
/*------- End logo -----------*/
#img-left,#img-right{
	position:absolute;
	width:144px;
	height:143px;
}
#img-left{
	background:url(../image/topleft.png)	 no-repeat;
	top:0px;
	left:0px;
}
#img-right{
	background:url(../image/topright.png) no-repeat;	
	top:0px;
	right:0px;
}
/*------- Menu top -----------*/
#menu{
	width:100%;
	height:40px;
	background:#E7261D;
}
#menu-center{
	width:1000px;
	height:40px;
	margin:0px auto;
	position:relative;	
}
#menu-center li{
	float:left;
	width:auto;
	height:40px;
	padding:0px 20px;
	line-height:40px;
	text-align:center;	
}
#menu-center >li{
	list-style:none;
	border-right:1px dotted #FFFFFF;
}
#menu-center >li:hover{
	background:#ac1616;
	cursor:pointer;	
}
#menu-center li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:inline-block;	
	
}
#menu-center li a:hover{
	text-decoration:underline;	
}
#menu-center ul{
	position:absolute;
	top:35px;
	left:0px;	
	display:none;
}
#menu-center ul li{
	list-style:inside;	
}
#menu-center ul li a{
	color:#000;
	font-weight:normal;
	font-size:12px;
}
#menu-center li:hover > ul{
	display:block;
}
#menu-center ul li a:hover{
	color:#960;	
}
#menu-center ul li:hover{
	color:#960;	
}
/* end munu*/
#main-content{
	width:100%;
	height:auto;
	margin-top:35px;
	margin-bottom:20px;
}


/*--------Content-------------*/
/*---------left----------*/
#wrapper{
	width:100%;
	margin-top:40px;
	height:auto;	
}
#direct{
	width:1003px;
	height:16px;
	margin-bottom:20px;	
}
#direct span{
	display:inline;
	padding:0px 10px;
	font-size:12px;
	font-weight:bold;
	color:#817881;	
}
#direct a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#817881;
	text-decoration:none;
}
#direct a:hover{
	text-decoration:underline;	
}
#content{
	width:1003px;
	height:auto;
	margin:0px auto;	
}
.left{
	width:670px;
	float:left;
	height:auto;	
}
.content-left{
	width:665px;
	float:left;
	height:auto;
	padding-left:5px;
}
.content-left ul {
	width:670px;
	height:auto;	
}
.content-left ul li{
	list-style:none;
	width:670px;
	height:125px;
	display:block;
	margin-bottom:25px;	
}
.content-left ul li img{
	width:176px;
	height:110px;
	float:left;	
}
.content-left .cate-left{
	width:478px;
	height:110px;
	margin-left:15px;
	float:right;
	text-align:justify;	
}
.content-left .cate-left h3 a{
	text-decoration:none;
	color:#2d76a2;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
}
.content-left .cate-left h3 a:hover{
	text-decoration:underline;
	color:#5b5858;	
}
.content-left .cate-left span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	display:block;
	color:#9c9999;
	margin:10px 0px;	
}
.content-left .cate-left p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#5b5858;	
}

/*---------End left----------*/

.right{
	width:300px;
	height:auto;
	float:right;	
}

.cate-right{
	width:300px;
	height:auto;
	float:right;
	border:1px solid #dddddd;
	margin-bottom:50px;	
}
.cate-right .title{
	width:300px;
	height:24px;
	line-height:24px;
	background:#CCC;
}
.cate-right .title h3{
	width:auto;
	height:24px;
	background:url(../image/heading-img.png) right center no-repeat;
	display:inline-block;
	padding:0px 30px 0px 10px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:24px;	
}
.cate-right ul li{
	list-style:none;
	width:290px;
	height:136px;
	padding-left:10px;
	padding-bottom:10px;
	border:1px solid #dedede;
	padding-top:10px;	
}
.cate-right ul li a{
	text-decoration:none;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	display:block;	
}
.cate-right ul li a:hover{
	text-decoration:underline;	
}
.cate-right ul li img{
	margin-top:10px;
	float:left;
	margin-right:10px;	
}
.cate-right ul li div{
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	text-align:justify;
	margin-right:10px;	
}



/*-------page----------*/
.page{
	width:250px;
	height:32px;
	float:right;
	margin-right:30px;	
}
.page a{
	width:30px;
	height:30px;
	border-radius:20px;
	background:#c00000;
	display:block;
	float:left;
	text-align:center;
	line-height:30px;
	margin-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;	
}
.page a:hover{
	background:#444;	
}
.page .prev , .page .next{
	background:none;	
}

.page .prev{
	background:url(../image/cate-pre.png) no-repeat top center;	
}
.page .next{
	background:url(../image/cate-next.png) top center no-repeat;
}
.page .prev:hover{
	background:url(../image/cate-pre.png) no-repeat top center !important;
}
.page .next:hover{
	background:url(../image/cate-next.png) top center no-repeat !important;	
}
.page .active{
	background:#444;	
}
/*------------------- Footer -------------------*/
#footer{
	width:100%;
	height:auto;
	margin-bottom:0px;
	margin-top:70px;
	background:#ac1616;	
}
#foot-top{
	height:59px;
	width:1000px;
	margin:0px auto;
}
#ftop-left{
	height:59px;
	line-height:59px;
	width:auto;
	float:left;
	margin-left:5px;	
}
#ftop-left #text{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;	
}
#ftop-left form{
	float:right;	
	margin-left:10px;
}
#ftop-left form #text-box{
	border:none;
	height:36px;
	line-height:36px;
	width:300px;
	padding-left:10px;
}
#ftop-left form #reg-submit{
	border:none;
	width:100px;
	height:36px;
	line-height:36px;
	margin-left:10px;
	text-transform:capitalize;
	background:#d7720b;
	color:#FFF;
	opacity:0.9;
}
#ftop-left form #reg-submit:hover{
	background:#da8c3c;	
	cursor:pointer;
	
}
#ftop-right{
	float:right;
	margin-top:10px;
	margin-right:5px;
}
#fmain-container{
	width:100%;
	height:268px;
	background:#f8f8f8;	
}
#foot-main{
	width:1000px;
	height:268px;
	margin:0px auto;
}
#foot-main .fmain-content{
	width:auto;
	height:200px;
	float:left;
	margin-top:40px;
	border-right:1px dotted #666;
	margin-right:30px;
}
.fmain-content h3{
	width:184px;
	text-transform:capitalize;
	color:#623b2f;	
}
.fmain-content ul{
	width:175px;
	height:200px;
	margin-top:20px;
	text-align:left;
	
}
.fmain-content li{
	list-style:none;
	width:175px;
	height:24px;
	
}

.fmain-content li a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	text-transform:capitalize;
	color:#8d4545;
}
.fmain-content li a:hover{
	text-decoration:underline;	
}
/* foot-bottom */
#foot-bottom{
	width:100%;	
	height:85px;
}
#f-bottom-content{
	width:1000px;
	height:85px;
	margin:0px auto;	
	
}
#f-bottom-content img{
	margin-top:10px;
	float:left;
	
}

#f-bottom-content ul li{
	list-style:none;
	float:left;
	width:auto;
	height:12px;
	margin-left:13px;
	padding:0px 9px;
	line-height:12px;
	margin-top:17px;
	border-right:2px solid #FFF;
}
#f-bottom-content ul li a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;	
}
#f-bottom-content ul li a:hover{
	text-decoration:underline;	
}
#f-bottom-content p{
	margin-top:22px;
	margin-right:100px;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:500;
	color:#FFF;	
}
/*--------------- End footer --------------*/