*{
	padding:0px;
	margin:0px;	
}
/*---------Top head ------------- */
#top-head{
	width:100%;
	height:32px;
	background:#ac1616;
}
#container{
	width:1000px;
	height:32px;
	margin:0px auto;	
}
#top-head-left{
	width:325px;
	height:32px;
	line-height:32px;
	float:left;
}
#top-head-left img{
	margin-left:5px;	
}
#top-head-left span{
	color:#FFF;
	font-weight:bold;
	margin-left:3px;	
	text-transform:capitalize;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#top-head-right{
	width:auto;
	height:32px;
	float:right;
	
	margin-top:4px;
}
#top-head-right img{
	padding-left:7px;
	cursor:pointer;
}
/*--------- End Top head ------------- */
/*--------- logo ------------- */
#logo{
	margin-top:0px;
	width:100%;
	height:110px;
	background:#FFF;
}
#container-logo{
	width:1000px;
	height:110px;
	margin:0px auto;
	
}
#logo-left{
	width:410px;
	margin-left:0px;
	height:auto;
	float:left;
	margin-top:12px;
}
#logo-right{
	width:490px;
	float:right;
	height:auto;
	margin-top:20px;
}
#search{
	width:300px;
	float:left;
	height:32px;
	border:1px solid #dddddd;
	border-radius:3px;
	
}
#search #text{
	width:255px;
	height:30px;
	border:none;
	padding-left:10px;
	border-right:1px dotted #666666;
	line-height:30px;
}
#btn-search{
	width:40px;
	height:32px;
	
}
#btn-search input{
	width:40px;
	height:32px;
	background:url(../image/198.png) no-repeat;
	border:none;
	cursor:pointer;
	
}
#login{
	float:right;
	margin-right:5px;
	margin-top:10px;
}
#login img{
	margin-right:5px;
	margin-left:5px;	
}
#login a{
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#582e68;	
}
#login a:hover{
	text-decoration:underline;	
}
/*------- End logo -----------*/
#img-left,#img-right{
	position:absolute;
	width:144px;
	height:143px;
}
#img-left{
	background:url(../image/topleft.png)	 no-repeat;
	top:0px;
	left:0px;
}
#img-right{
	background:url(../image/topright.png) no-repeat;	
	top:0px;
	right:0px;
}
/*------- Menu top -----------*/
#menu{
	width:100%;
	height:40px;
	background:#E7261D;
}
#menu-center{
	width:1000px;
	height:40px;
	margin:0px auto;
	position:relative;	
}
#menu-center li{
	float:left;
	width:auto;
	height:40px;
	padding:0px 20px;
	line-height:40px;
	text-align:center;	
}
#menu-center >li{
	list-style:none;
	border-right:1px dotted #FFFFFF;
}
#menu-center >li:hover{
	background:#ac1616;
	cursor:pointer;	
}
#menu-center li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	display:inline-block;	
	
}
#menu-center li a:hover{
	text-decoration:underline;	
}
#menu-center ul{
	position:absolute;
	top:35px;
	left:0px;	
	display:none;
}
#menu-center ul li{
	list-style:inside;	
}
#menu-center ul li a{
	color:#000;
	font-weight:normal;
	font-size:12px;
}
#menu-center li:hover > ul{
	display:block;
}
#menu-center ul li a:hover{
	color:#960;	
}
#menu-center ul li:hover{
	color:#960;	
}
/* end munu*/
#main-content{
	width:100%;
	height:auto;
	margin-top:35px;
	margin-bottom:20px;
}
/* Slide bar*/
#slide-bar{
	margin:0px auto;
	width:1000px;
	height:auto;
	
}
#slide{ 
	width:740px; 
	padding-right:250px; 
	position:relative; 
	border:5px solid #ccc; 
	height:400px; 
	background:#fff;
}
#slide .slide-content{ 
	position:absolute; 
	top:0; left:590px; 
	list-style:none; 
	padding:0; margin:0; 
	width:400px; 
}
#slide .slide-content li{ 
	padding:1px 0; padding-left:13px; 
	font-size:13px; 
	color:#666; 
	overflow:hidden;
	text-align:left;
}
#slide .slide-content li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#slide .slide-content li span{ 
	font-size:13px; font-family:Verdana; 
	line-height:18px;
	 
}
#slide .slide-item a{ 
	display:block; 
	height:60px; 
	color:#333;  
	background:#fff; 
	line-height:50px;
	text-decoration:none;
	height:80px;
}
#slide .slide-item a:hover{ 
	background:#f2f2f2; 
	text-decoration:underline;
}
#slide li.ui-tabs-selected{ 
	background:url(../image/selected-item.gif) top left no-repeat;
}
#slide .slide-content li.ui-tabs-selected a{ 
	background:#ccc; 
}
#slide .ui-tabs-panel{ 
	width:590px; height:400px; 
	background:#999; position:relative;
}
#slide .ui-tabs-panel .info{ 
	position:absolute; 
	top:280px; left:0; 
	height:120px; 
	background:url(../image/transparent-bg.png);
}
#slide .info h2{ 
	font-size:18px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#slide .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:12px; 
	line-height:15px; color:#f0f0f0;
}
#slide .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#slide .info a:hover{ 
	text-decoration:underline; 
}
#slide .ui-tabs-hide{ 
	display:none; 
}
/* End slide bar*/
/*Style content*/
#content{
	width:1003px;
	height:auto;
	margin:20px auto;	
}
.left{
	width:677px;
	height:auto;
	float:left;
}

.content-left{
	width:677px;
	height:auto;
	float:left;	
}
.content-left h3{
	width:677px;
	height:32px;
}
.content-left h3 span {
	width:677px;
	display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0px 20px 0px 10px;
	background: url(../image/bg-heading.png) left top no-repeat;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
}
.content-left .news_left{
	float:left;
	width:315px;
	height:auto;
	margin-right:18px;
	margin-top:10px;
}
.content-left .news_left img{
	border:1px solid #dddddd;
	float:left;
	margin-bottom:10px;	
}
.content-left .news_left >a{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	color:#454545;
	text-decoration:none;
	clear:both;
}
.content-left .news_left a:hover{
	text-decoration:underline;	
}
.content-left .news_left p{
	margin-top:10px;
	margin-bottom:10px;
	height:auto;
	width:315px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#605858;	
	text-align:justify;
}
.news_left ul li{
	list-style:none;
	background:url(../image/icon-list.png) no-repeat left center;
	width:auto;
	height:20px;
	margin-bottom:5px;
	overflow:hidden;
}
.news_left ul li a{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#454545;
	height:20px;
	width:auto;
	padding-left:10px;
	line-height:15px;
	font-weight:600;
}
/* end news left*/

.news_right{
	float:right;
	width:340px;
	height:auto;
	margin-top:10px;	
}
.news_right ul li{
	list-style:none;
	height:67px;
	border-bottom:1px solid #d7d7d7;
	padding-bottom:20px;
	margin-top:20px;	
}
.news_right ul li img{
	float:left;
	margin-right:10px;	
}
.news_right ul div a{
	color:#3f3333;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
}
.news_right ul div a:hover{
	text-decoration:underline;	
}
.news_right ul div{
	float:right;
	width:250px;
	height:auto;	
}
.news_right ul div p{
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#5b5858;	
}

/*End content left*/
.right{
	width:300px;
	height:auto;
	float:right;
}

.content-right{
	width:300px;
	height:auto;
	float:right;
	border: 1px solid #d8d8d8;
	margin-left:20px;
	margin-bottom:50px;
}
.content-right > ul{
	width:300px;
	height:40px;
	background:#d8d8d8;	
}
.content-right > ul li{
	height:40px;
	float:left;	
	list-style:none;
	width:99px;
	border-right:1px solid #000;
}

.content-right .active{
	background:#9B75E8;
	color:#FFF;	
}
.content-right > ul li a{
	height:24px;
	width:89px;
	display:inline-block;
	padding:8px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	color:#333363;
}
.content-right > ul li a:hover{
	color:#FFF;	
	background:#9B75E8;
}
.content-right .tab-content{
	clear:left;	
	width:292px;
	height:auto;
}
.content-right .tab-content ul li{
	list-style:none;
	height:30px;
	border-bottom:1px solid #d8d8d8;
}
.content-right .tab-content ul li a{
	text-decoration:none;
	font-size:13px;
	width:273px;
	height:30px;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	display:inline-block;
	padding-left:20px;
}
.content-right .tab-content ul li a:hover{
	background:#9B75E8;
	color:#FFF;	
}
/*End content*?
/* advertise */
.advertise{
	width:1000px;
	margin:30px auto;
	height:90px;	
}
.advertise img{
	width:728px;
	height:90px;
	margin-left:126px;
	
}
/* end advertise */
/*--- Marquee -------*/
#marque_content{
	width:100%;
	height:auto;
	margin-top:50px;
	margin-bottom:50px;
	position:relative;	
}
#marquee{
	width:1003px;
	height:200px;
	margin:0px auto;
	overflow:hidden;
}
#carousel{
	width:1003px;
		
}
#carousel li{
	float:left;
	display:block;
	list-style:none;
	width: 232px;
	height: 250px;
	padding: 0;
	margin: 6px;	
}
#carousel li img {
	width: 201px;
	height: 127px;
	margin-top: 14px;
	margin-bottom:20px;
}
#carousel li p{
	width:232px;
}
#carousel li p a{
	width:201px;;
	font-size:14px;
	text-decoration:none;
	color:#8c3333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
#carousel li p a:hover{
	text-decoration:underline;
}
.clearfix {
	float: none;
	clear: both;
}

#carousel .prev, #carousel .next {
	background: transparent url(../image/carousel_control.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 15px;
	height: 21px;
	margin-left: 10px;
	position: absolute;
	top: 70px;				
}
#carousel .prev {
	background-position:0 0;
	left: 120px;
}
#carousel .prev:hover {
	left: 120px;
}			
#carousel .next {
	background-position: -18px 0;
	right: 180px;
}
#carousel .next:hover {
	right: 180px;
}				


/*-------------Back to top --------------*/
/*------------------- Footer -------------------*/
#footer{
	width:100%;
	height:auto;
	margin-bottom:0px;
	margin-top:20px;
	background:#ac1616;	
}
#foot-top{
	height:59px;
	width:1000px;
	margin:0px auto;
}
#ftop-left{
	height:59px;
	line-height:59px;
	width:auto;
	float:left;
	margin-left:5px;	
}
#ftop-left #text{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;	
}
#ftop-left form{
	float:right;	
	margin-left:10px;
}
#ftop-left form #text-box{
	border:none;
	height:36px;
	line-height:36px;
	width:300px;
	padding-left:10px;
}
#ftop-left form #reg-submit{
	border:none;
	width:100px;
	height:36px;
	line-height:36px;
	margin-left:10px;
	text-transform:capitalize;
	background:#d7720b;
	color:#FFF;
	opacity:0.9;
}
#ftop-left form #reg-submit:hover{
	background:#da8c3c;	
	cursor:pointer;
	
}
#ftop-right{
	float:right;
	margin-top:10px;
	margin-right:5px;
}
#fmain-container{
	width:100%;
	height:268px;
	background:#f8f8f8;	
}
#foot-main{
	width:1000px;
	height:268px;
	margin:0px auto;
}
#foot-main .fmain-content{
	width:auto;
	height:200px;
	float:left;
	margin-top:40px;
	border-right:1px dotted #666;
	margin-right:30px;
}
.fmain-content h3{
	width:184px;
	text-transform:capitalize;
	color:#623b2f;	
}
.fmain-content ul{
	width:175px;
	height:200px;
	margin-top:20px;
	text-align:left;
	
}
.fmain-content li{
	list-style:none;
	width:175px;
	height:24px;
	
}

.fmain-content li a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;	
	text-transform:capitalize;
	color:#8d4545;
}
.fmain-content li a:hover{
	text-decoration:underline;	
}
/* foot-bottom */
#foot-bottom{
	width:100%;	
	height:85px;
}
#f-bottom-content{
	width:1000px;
	height:85px;
	margin:0px auto;	
	
}
#f-bottom-content img{
	margin-top:10px;
	float:left;
	
}

#f-bottom-content ul li{
	list-style:none;
	float:left;
	width:auto;
	height:12px;
	margin-left:13px;
	padding:0px 9px;
	line-height:12px;
	margin-top:17px;
	border-right:2px solid #FFF;
}
#f-bottom-content ul li a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;	
}
#f-bottom-content ul li a:hover{
	text-decoration:underline;	
}
#f-bottom-content p{
	margin-top:22px;
	margin-right:100px;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:500;
	color:#FFF;	
}
/*--------------- End footer --------------*/


