/* CSS Document */
#content{
	width:400px;
	height:300px;
	margin:200px auto;
}
#content legend{
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#666;
	font-weight:600;	
}
#content tr td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333;	
}
#content .box{
	box-shadow:inset 0px 0px 5px #06F;
	width:200px;
	height:40px;
	padding-left:10px;
	border:none;
	border-radius:5px;	
}






