*{
	margin:0px;
	padding:0px;	
}
#top{
	width:100%;
	height:54px;
	background:#f8f8f8;
	border:1px solid #e7e7e7;	
}
#top-left{
	float:left;
	margin-left:30px;
	margin-top:20px;
}
#top-left a{
	color:#ff9753;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	text-decoration:none;	
}
#top-left a:hover{
	text-decoration:underline;
	color:#03F;	
}
#top-right{
	float:right;
	margin-right:50px;
	margin-top:20px;	
}
#top-right p{
	display:inline;
	color:#893333;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	margin-right:10px;	
}
#top-right p span{
	display:inline;
	color:#F00;
	font-weight:bold;	
}
#top-right a{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#777777;
	margin-left:5px;
}
#top-right a:hover{
	text-decoration:underline;	
}
#top-right .fa{
	color:#777777;
}
#left{
	float:left;
	width:230px;
	height:auto;
	background:#e7ebee;
}
#left .category{
	margin-top:2px;
	border:1px solid #dddddd;
	margin-bottom:5px;
	height:auto;
	background:#f5f5f5;
}
.category .heading{
	height:40px;
	width:210px;
	padding-left:20px;	
}
#left .category h4 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:500;
	color:#333333;
	text-decoration:none;
}
#left .category h4{
	width:230px;
	height:40px;
	line-height:40px;	
}
#left .category h4 a:hover{
	color:#ff9753;
	text-decoration:underline;
}
.category .cate_content{
	width:210px;
	height:auto;
	padding-left:20px;
	background:#eeeeee;
	
}
.category .cate_content li{
	list-style:none;
	height:30px;
	line-height:30px;
	color:#7b7c7e;
	line-height:30px;
}
.category .cate_content li a{
	color:#7b7c7e;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	text-decoration:none;
}
.category .cate_content li a:hover{
	text-decoration:underline;	
}
.cate_content{
	display:none;	
}
#right{
	float:right;
	width:1100px;
	margin-top:10px;

}
#right ul li{
	float:left;
	width:320px;
	height:140px;
	list-style:none;
	border:1px solid #d2d2d2;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
}
#right ul li i{
	position:absolute;
	bottom:2px;
	left:10px;
}
#right ul li h4{
	margin-top:10px;
	margin-left:20px;
	color:#FFF;
}	
#right #content{
	margin-left:20px;
	width:900px;	
	height:auto;
}
#right #content fieldset{
	padding-left:20px;
	}
#right #content tr{
	width:900px;
	height:40px;
}
#right #content tr td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333369;
}
#right #content .box{
	width:670px;
	height:30px;
	border:none;
	box-shadow:inset 0px 0px 5px #0033FF;
	border-radius:5px;	
	padding-left:15px;
}
#right #content .text_box{
	width:670px;
	height:200px;
	box-shadow:inset 0px 0px 5px #0033FF;
	border-radius:5px;
	border:none;
	padding-left:15px;	
}
#right #content #submit{
	padding:10px 20px;	
	border:none;
	background:#33F;
	color:#FFF;
}
#right #content #submit:hover{
	opacity:0.7;
	cursor:pointer;	
}
#right #content h3{
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
}


